<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>

    <table>
    <thead>
        <tr>
            <th>#</td>
            <th>Name</td>
            <th>Score</td>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < scores.length; i++) { %>
        <tr>
            <td data-label="rank"><%= [i+1] %></td>
            <td data-label="name"><%= scores[i].name %></td>
            <td data-label="score"><%= scores[i].score %></td> 
        </tr>
        <% } %>
    </tbody>
    </table>
</body>
</html>